<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 p-4 rounded" style="background-color: #bada;">
      <h2 class="text-center mb-4">What's plan today ?</h2>
      <%= link_to "Add Todo", new_todo_path, :class => "btn btn-primary w-100" %>
      <div class="mt-3">
        <% index = 1 %>
        <% @todos.each do |todo| %>
          <div class="alert alert-light text-dark d-flex justify-content-between" role="alert">
            <%= index %>. <%= todo.activity %>
            <div class="d-flex">
              <%= link_to edit_todo_path(todo.id), :class => "btn" do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= button_to todo_path(todo.id), :method => 'delete', :class => "btn" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
          <% index += 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>